:root{
    --font: sans-serif;
    --text_xs: 10px;
    --text_sm: 15px;
    --text_md: 20px;
    --text_lg: 30px;
    --text_xl: 40px;

    --p-xs: 1.5%;
    --p-sm: 2.5%;
    --p-md: 5%;
    --p-lg: 7.5%;
    --p-xl: 10%;

    --bg-blue: rgb(0, 110, 255);
    --bg-black: rgb(0,0,0);     
    --bg-gray: rgb(236, 227, 227);
}


body{
    font-family: var(--font);
}

.b-white{
    border: solid 1px white;
}

.bx-white{
    border-right: solid 1px white;
    border-left: solid 1px white;
}

.by-white{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.bt-white{
    border-top: solid 1px white;
}

.br-white{
    border-right: solid 1px white;
}

.bb-white{
    border-bottom: solid 1px white;
}

.bl-white{
    border-left: solid 1px white;
}

.b-red{
    border: solid 1px red;
}


.b-black {
    border: solid 1px black ;
}

.bx-black {
    border-right: solid 1px black ;
    border-left: solid 1px black ;
}

.by-black {
    border-top: solid 1px black ;
    border-bottom: solid 1px black ;
}

.bt-black {
    border-top: solid 1px black ;
}

.br-black {
    border-right: solid 1px black ;
}

.bb-black {
    border-bottom: solid 1px black ;
}

.bl-black {
    border-left: solid 1px black ;
}

.text-bold{
    font-weight: bold;
}

.text-white{
    color: white;
}

.text-red{
    color: red;
}

.text-xs{
    font-size: var(--text_xs);
}

.text-sm{
    font-size: var(--text_sm);
}

.text-md{
    font-size: var(--text_md);
}

.text-lg{
    font-size: var(--text_lg);
}

.text-xl{
    font-size: var(--text_xl);
}

.text-center{
    align-content: center;
}

.bg-black{
    background-color: var(--bg-black);
}

.bg-gray{
    background-color: var(--bg-gray) ;
}

.button{
    border: solid 2px black;    
    border-radius: 2px;
}

.button:hover{
    cursor: pointer;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.1 ease;
    -moz-transition: all 0.1 ease;
    -o-transition: all 0.1 ease;
    -ms-transition: all 0.1 ease;
    transition: all 0.1 ease;
}

.canvas:hover{
    cursor: pointer;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.1 ease;
    -moz-transition: all 0.1 ease;
    -o-transition: all 0.1 ease;
    -ms-transition: all 0.1 ease;
    transition: all 0.1 ease;
}


.header{
    color: white;
    width: 100vw;
    height: auto;
    background-color: var(--bg-blue);
    font-weight: bold;    
    font-size: var(--text_xl);
    text-align: center;
    padding: var(--p-xs) 0 var(--p-xs) 0;
}

.canvas{ 
    display: flex;
    justify-content: center;
    align-items: center;
}


.line{
    width: 100%;
    margin: auto;
}