
:root{
    --font: sans-serif;
    --text_xs: 5px;
    --text_sm: 10px;
    --text_md: 20px;
    --text_lg: 30px;
    --text_xl: 40px;

    --p-xs: 1.5%;
    --p-sm: 2.5%;
    --p-md: 5%;
    --p-lg: 7.5%;
    --p-xl: 10%;

    --bg-blue: rgb(0, 110, 255);

    --calc-width: 400px;
    --calc-height: 600px;
}
body{
    font-family: var(--font);
}

.header{
    color: white;
    width: 100vw;
    height: auto;
    background-color: var(--bg-blue);
    font-weight: bold;    
    font-size: var(--text_xl);
    text-align: center;
    padding: var(--p-xs) 0 var(--p-xs) 0;
}

.line{
    width: 100%;
    margin: auto;
}

.calculator{
    border-radius: 6px;
    padding: 4% 2.5% 4% 2.5%;
    margin: auto;
    margin-top: 10vh;
    width: var(--calc-width);
    height: var(--calc-height);
    background-color: rgb(197, 192, 192);    
}

.view{
    border-radius: 6px;
    background-color: rgb(250, 249, 249);
    margin: auto;
    width: 95%;
    height: 15%;
    font-size: var(--text_xl);
    font-weight: bold;
    text-align: end;
}

.buttons{
    background-color: rgb(211, 209, 199);        
    width: 95%;
    height: 85%;    
    display: flex;
    margin: auto;
    margin-top: 3vh;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    border: solid 1px black;
    border-radius: 2px;
    margin: auto;     
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button:hover{
    cursor: pointer;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.1 ease;
    -moz-transition: all 0.1 ease;
    -o-transition: all 0.1 ease;
    -ms-transition: all 0.1 ease;
    transition: all 0.1 ease;
}

.operation{
    background-color: gray;        
    width: 40px;
    height: 40px;       
    font-size: var(--text_lg);        
    flex-basis: 20%;
    max-width: 100px;    
}


.input{
    background-color: whitesmoke;
    width: 50px;
    height: 50px;           
    font-size: var(--text_xl);        
    flex-basis: 27%;
    max-width: 200px;    
}



